/* specifiy a variable */


.background{
    padding: 3rem;
    width: 80%;
    background-color: rgba(192, 192, 192, 0.05);
    margin-left: 9rem;
    border-radius: 1.5rem;
    backdrop-filter: blur(100px);
    height: fit-content;
    padding-top: 4rem;
    margin-bottom: 2rem;
    border: 1px solid #ffffff20;
}

.showAccount {
  font-size: 16px;
  color: #333;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin-top: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1000000;
  transform: translate(-50%, -50%);
  opacity: 0;
}
.overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.7);
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.452);
  z-index: 9999;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  user-select: none;
  opacity: 0;
  transition: 0.2s all;
  backdrop-filter: blur(15px);
  display: flex;
}

.overlay.showw {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  transition: 0.2s all;
  pointer-events: auto;
  user-select: auto;
  z-index: 9999;
}
.account-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.7);
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.452);
  z-index: 9999;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  user-select: none;
  opacity: 0;
  transition: 0.2s all;
  backdrop-filter: blur(15px);
  display: flex;
}

.account-overlay.showw {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  transition: 0.2s all;
  pointer-events: auto;
  user-select: auto;
  z-index: 9999;
}
.cwc{
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 450px;
  background-color: rgba(255, 255, 255, 0.019);
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 0px 40px 2px rgba(0, 0, 0, 0.479);
  padding: 30px;
}
.cw-header{
  font-weight: 700;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cw-header path{
  fill: rgb(166, 166, 166) !important;
}
.knowMore{
  border-radius: 50%;
  background-color: rgba(107, 107, 107, 0.143);
  display: flex;
  padding: 7px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.closeBtn{
  border-radius: 50%;
  background-color: rgba(107, 107, 107, 0.143);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px;
  padding-left: 12px;
  padding-right: 12px;
  cursor: pointer;
}
.closeBtn svg{
  
  stroke: rgb(166, 166, 166) !important;;
}
.disconnect-btn{
  padding: 10px 20px;
  width: 100%;
  color: #fff;
  background-color: #6454d3;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-radius: 15px;
  transition: 0.2s all;
  text-align: center;
  gap: 8px;
  opacity: 1;
}
.disconnect-btn svg{
  transform: translateY(1px);
}
.disconnect-btn:hover{
  background-color: #6454d350;
  transition: 0.2s all;
}
.account-closeBtn{
  cursor: pointer;
}
.ac-number{
  font-family: 'Manrope', sans-serif;
  font-weight:600;
  font-size: 19px;
  margin-top: 15px;
  margin-bottom: 5px;
}
.ac-balance{
  margin-bottom: 25px;
}
.ao-body{
  justify-content: center;
  height: fit-content;
}
.acwc{
  height: fit-content;
}
.copy-ac-number{
  cursor: pointer;
  opacity: 0.5;
  transition: 0.2s all;
}
.copy-ac-number:hover{
  opacity: 1;
  transition: 0.2s all;
}
.copy-ac-number {
  transform: translateY(5px);
}
.ac-balance{
  font-family: 'Manrope', sans-serif;
  font-size: 14px;
}
.ac-logo{
  margin-top: 15px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: linear-gradient(to bottom, orange, yellow);
  display: flex;
  justify-content: center;
  align-items: center;
}
.ac-number-container{
  display: flex;
  align-items: center;
  gap: 10px;
}
.cw-body{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}
.cw-footer{
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}
.cw-footer svg{
  transform: translateY(2px);
}
.healthStatus{
  position: relative;
}
.showAfterConnect{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  font-size: 15px;
  color: #ffffffeb;
  opacity: 1;
  
  transition: 0.2s all;
}
.color-green{
  color: #51da98;
  font-weight: 900;
}
.roww{
  margin-top: 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.ct{
  color: #a0aec0;
  font-size: 14px;
}
.cv{
  font-size: 24px;
  font-weight: 700;
}
.cv-bf{
  color: white;
}
.cv-af{
  color: rgba(255, 255, 255, 0.441);
}
.account-details{
  display: none;
  background-color: transparent;
  gap: 15px;
  margin-left: 15px;
}
.balance-container{
  padding: 5px 10px;
  background-color: rgba(181, 181, 181, 0.14);
  border-radius: 7px;
  border: 1px solid rgba(255, 255, 255, 0.161);
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  font-weight: bold;
}
.css-1bz3mis{
  font-size: 45px;
  font-weight: 700;
}
.balance-container{
  cursor: pointer;
  transition: 0.2s all;
}
.balance-container:hover{
  background-color: rgba(255, 255, 255, 0.172);
  transition: 0.2s all;
}
.enableEthereumButton {
  padding: 10px 20px;
  width: 100%;
  font-weight: 600;
  color: #fff;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  border-radius: 15px;
  transition: 0.2s all;
  --ck-family-brand: #1A88F8;
    --ck-brand-walletConnect: #3B99FC;
    --ck-brand-coinbaseWallet: #0052FF;
    --ck-brand-metamask: #f6851b;
    --ck-brand-metamask-01: #F6851B;
    --ck-brand-metamask-02: #E2761B;
    --ck-brand-metamask-03: #CD6116;
    --ck-brand-metamask-04: #161616;
    --ck-brand-metamask-05: #763D16;
    --ck-brand-metamask-06: #D7C1B3;
    --ck-brand-metamask-07: #C0AD9E;
    --ck-brand-metamask-08: #E4761B;
    --ck-brand-metamask-09: #233447;
    --ck-brand-metamask-10: #E4751F;
    --ck-brand-metamask-11: #FEF5E7;
    --ck-brand-metamask-12: #E3C8AB;
    --ck-brand-trust-01: #3375BB;
    --ck-brand-trust-02: #ffffff;
    --ck-brand-trust-01b: #ffffff;
    --ck-brand-trust-02b: #3375BB;
    --ck-brand-argent: #f36a3d;
    --ck-brand-imtoken-01: #11C4D1;
    --ck-brand-imtoken-02: #0062AD;
    --ck-brand-gnosisSafe: #12FF80;
    --ck-brand-dawn: #000000;
    --ck-ens-01-start: #FF453A;
    --ck-ens-01-stop: #FF9F0A;
    --ck-ens-02-start: #FF9F0A;
    --ck-ens-02-stop: #FFD60A;
    --ck-ens-03-start: #FFD60A;
    --ck-ens-03-stop: #32D74B;
    --ck-ens-04-start: #32D74B;
    --ck-ens-04-stop: #64D2FF;
    --ck-ens-05-start: #64D2FF;
    --ck-ens-05-stop: #0A84FF;
    --ck-ens-06-start: #0A84FF;
    --ck-ens-06-stop: #5E5CE6;
    --ck-ens-07-start: #5E5CE6;
    --ck-ens-07-stop: #BF5AF2;
    --ck-ens-08-start: #BF5AF2;
    --ck-ens-08-stop: #FF2D55;
    --ck-graphic-wave-stop-01: #E8F17D;
    --ck-graphic-wave-stop-02: #A8ECDE;
    --ck-graphic-wave-stop-03: #7AA1F2;
    --ck-graphic-wave-stop-04: #DEA1E8;
    --ck-graphic-wave-stop-05: #F46D98;
    --ck-graphic-scaniconwithlogos-01: #AFAFAF;
    --ck-graphic-scaniconwithlogos-02: #696969;
    --ck-graphic-scaniconwithlogos-03: #F8D74A;
    --ck-graphic-scaniconwithlogos-04: #3D3D3D;
}
.enableEthereumButton:hover{
  background-color: rgba(255, 255, 255, 0.03);
  transition: 0.2s all;

}
.lighthouseCard{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    height: fit-content;
}

.right{
    padding-left: 2rem;
}
.right h1{
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
}

.right p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.72)
}

.rightheading{
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-bottom: 0.5rem;
}

.rightheading h2{
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

span button{
    width: fit-content;
    padding: 0.5rem;
    border-radius: 10px;
    margin-right: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    height: 3rem;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    background: rgb(100,84,203);
    background: linear-gradient(180deg, rgba(100,84,203,1) 0%, rgba(119,93,194,1) 100%);
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #cccccc38;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .content{
    width: 95%;
    background-color: rgba(192, 192, 192, 0.05);
    border-radius: 1.5rem;
    backdrop-filter: blur(100px);
    height: fit-content;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem;
}

.row, .rownew{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid #ffffff29;
    height: 80px;
    align-items: center;
    padding: 0.5rem;
}

.rownew{
  padding-bottom: 15px;
}

.row:hover{
    box-shadow: -5px 0px 0 #21d4f3;
    background-color: rgba(240, 255, 255, 0.059);
}

.bright .row:hover{
    box-shadow: -5px 0px 0 #735BC4;
    background-color: rgba(240, 255, 255, 0.059);
}

.bottom{
    width: 82%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-left: 9rem;
}

.bleft, .bright{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.bleft h1, .bright h1{
  font-weight: 700;
  font-size: 24px;
  list-style: 32px;
  margin-bottom: 1rem;
}

.blkname{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.blknamenew{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #ffffff15;
  padding-bottom: 1rem;
}

.blkname img, .blknamenew img{
  height: 25px;
  width: 25px;
  margin-right: 0.5rem;
}

.blkname h2, .blknamenew h2{
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.per{
  display: flex;
  flex-direction: column;
  align-items: end;
}

.per img{
  height: 15px;
  width: 15px;
  margin-right: 0.5rem;
}

.logoper{
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* .logopershow{
  display: flex;
  flex-direction: row;
  align-items: left;

} */

.show{
  position: fixed;
  bottom: 150px;
  left:550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 430px;
  background-color: #bbbdff11;
  border-radius: 12px;
  height: 450px;
  display: none;
  border: 1px solid #ffffff09;
  padding: 1.5rem;
  background-blend-mode: multiply;
}

.close-btn {
  position: absolute;
  right: 10px;
  top: 5px;
  cursor: pointer;
}

body.showing-popup {
  overflow: hidden;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 9, 40, 0.401);
  z-index: 9998;  /* Ensure it's below the popup but above everything else */
  display: none;
}

.show {
  /* your existing styles */
  z-index: 9999; /* Ensure it's above the backdrop */
  backdrop-filter: blur(25px);
}

.logoper h4{
  font-weight: 500;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.72);
}

.show .logoper{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
}

.final{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.finalbutton{
  width: 100%;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  background-color: #735BC4;
  height: 40px;
  border-radius: 10px;
  margin-top: 1.5rem;
}

.finalbutton:hover{
  box-shadow: 0 0 15px 2px #7863c0a4;
  transition: all 0.2s ease;
}


